* {
    background:     #2a273f;
    background-alt: #393552;
    foreground:     #C1D5F4;
    selected:       #3e8fb0;
    active:         #98C379FF;
    highlight:			#EBCB8B;
    urgent:				#BF616A;
    on:					#A3BE8C;
    off:				#BF616A;
}
